VITE_FIREBASE_API_KEY=AIzaSyA8WkLJin707_56oAN-JYXLn9sJw4a6a5I
VITE_FIREBASE_AUTH_DOMAIN=todays-language-dev.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=todays-language-dev
VITE_FIREBASE_STORAGE_BUCKET=todays-language-dev.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=269278317829
VITE_FIREBASE_APP_ID=1:269278317829:web:5a6d8cddfa4b69185dfb6c
VITE_FIREBASE_MEASUREMENT_ID=G-N6Y7M30CXY
